<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Product Details | E-Cart</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header class="header">
      <div class="container flex justify-between align-center">
        <a href="" class="logo"><span>E</span>cart</a>
        <div class="flex justify-between align-center">
          <a class="btn btn-primary" href="">Log Out</a>
          <div class="user-info flex justify-between align-center flex-column">
            <h2>Admin</h2>
            <p>Admin</p>
          </div>
        </div>
      </div>
    </header>
    <!--Main-->
    <main class="productDetails container">
      <%products.forEach(product=>{%>
      <div class="details flex justify-between align-start">
        
        <div class="flex-30">  
        <div class="image">
          <img
            class="full-width"
            src="/images/<%= product.image%>"
            alt="Product Image"
          />
        </div>
        </div>
        <div class="flex-70">
          <h4>Name of product : </h4>
          <p><%= product.name%></p>
          <h4>Specifications & Description:</h4>
          <p><%= product.description%></p>
          <h4>Price:</h4>
          <p><%= product.price%></p>
          <h4>Quantity</h4>
          <p><%= product.quantity%></p>
          <div class="flex justify-between align-center">
            <div>
              <a class="btn btn-secondary" href="">
                <i class="fas fa-heart"></i
              > <p><%= product.likes%></p></a>
              <br />
              <a class="btn btn-secondary" href="/products/<%= product.id%>/addToCart"
                ><i class="fas fa-cart-plus"></i>
              </a>
              <br />
              <a class="btn btn-secondary" href="/products/"
                ><i class="fas fa-arrow-circle-left"></i>
              </a>
            </div>
            <div>
              <a href="/products/<%= product.id%>/edit"
                ><button style="font-size: 1rem" class="btn btn-primary">
                  Edit Product
                </button></a
              >
              <a href="/products/<%= product.id%>/delete"
                ><button style="font-size: 1rem" class="btn btn-primary">
                  Remove Product
                </button></a
              >
            </div>
          </div>
        </div>-->
      </div>

      <div class="comments">
        <div class="comment flex justify-between align-center">
          <p>Add your text here...</p>
          <div>
            <a href=""><i class="far fa-edit"></i></a>
            <a href=""><i class="far fa-trash-alt"></i></a>
          </div>
        </div>
        <form action="">
          <input type="text" placeholder="Add Comment Here.." />
          <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
    <%})%>
    </main>
  </body>
</html>